DJANGO_SECRET_KEY=django-insecure-#
DEBUG=False
DJANGO_LOGLEVEL=info
DJANGO_ALLOWED_HOSTS=localhost,127.0.0.1
DATABASE_ENGINE=postgresql_psycopg2
DATABASE_NAME=demodb
DATABASE_USERNAME=demouser
DATABASE_PASSWORD=demopassword
DATABASE_HOST=localhost
DATABASE_PORT=5432
CSRF_TRUSTED_ORIGINS=http://localhost:8080
AZURE_ACCOUNT_NAME=demoappstorage
AZURE_ACCOUNT_KEY=demoappstoragekey