{% extends "admin/change_list.html" %}

{% block object-tools %}
<div class="object-tools">
    <ul class="object-tools">
        <li>
            <a href="{% url 'admin:core_income-export-csv' %}" class="addlink">Export CSV</a>
        </li>
        <li>
            <a href="{% url 'admin:income-report' %}" class="addlink">Generate Report</a>
        </li>
        <li>
            <a href="{% url 'admin:core_income_add' %}" class="addlink">Add Income</a>
        </li>
    </ul>
</div>
{% endblock %}
