{% extends "admin/change_list.html" %}

{% block object-tools %}
    <div class="object-tools">
        <ul class="object-tools">
            {% if opts.model_name == 'income' or opts.model_name == 'expense' %}
            <li>
                <a href="{% url export_csv_url %}" class="addlink">Export CSV</a>
            </li>
            {% endif %}
            <li>
                <a href="{% url 'admin:'|add:opts.app_label|add:'_'|add:opts.model_name|add:'_add' %}" class="addlink">Add {{ opts.verbose_name }}</a>
            </li>
        </ul>
    </div>
{% endblock %}
